/* Prices */
.Prices-content .item{
    position: relative;
    float: left;
    width: 32%;
    border: #dbdbdb solid 1px;
    text-align: center;
    padding: 40px 0;
}
.Prices-content .item.mg{
    margin: 0 2%;
}
.Prices-content .item h3{
    text-transform: uppercase;
    color: #999;
    font-weight: 100;
    transition: color 0.4s;
}
.Prices-content .item-div{
    margin: 25px auto 25px auto;
    border: 2px solid #6195ff;
    width: 110px;    
    height: 110px;
    border-radius: 50%;
    padding: 25px 0px;
    transition: color 0.4s;
}
.Prices-content .item-div h2{
    font-size: 28px;
}
.Prices-content .item-div span{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 4px;
}
.Prices-content .item ul li{
    color: #999;
    line-height: 2;
    transition: color 0.4s;
}
.Prices-content .item button{
    margin-top: 20px;
    padding: 8px 20px;
    cursor: pointer;
    background: none;
    border: 2px solid #6195ff;
    color: #6195ff;
}
.Prices-content .item::before{
    content: "";
    background-color: hsla(0, 0%, 0%, 0.9);
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.Prices-content .item:hover::before{
    height: 100%;
}
.Prices-content .item:hover .item-div{
    color: #fff;
}
.Prices-content .item:hover h3{
    color: #4e89ff;
}
.Prices-content .item:hover ul li{
    color:#fff;
}
